<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create a Team</title>
  </head>
  <body>
    <h1>Create a Team and Heroes!</h1>
      <form action="/teams" method="post">

        <h2>Team: </h2>
          <label for="team_name">Team Name:</label><br>
          <input type="text" id="team_name" name= "team[name]"/><br>
          <label for="team_motto">Team Motto:</label><br>
          <input type="text" id="team_motto" name= "team[motto]"><br>

          <h2>Hero(s)</h2>

            <label for="member1_name">Hero's Name: </label><br>
            <input id="member1_name" type="text" name="team[heros][][name]" /><br>
            <label for="member1_power">Hero's Power: </label><br>
            <input id="member1_power" type="text" name="team[heros][][power]" /><br>
            <label for="member1_bio">Hero's Biography: </label><br>
            <input id="member1_bio" type="text" name="team[heros][][bio]" /><br><br>

            <label for="member2_name">Hero's Name: </label><br>
            <input id="member2_name" type="text" name="team[heros][][name]" /><br>
            <label for="member2_power">Hero's Power: </label><br>
            <input id="member2_power" type="text" name="team[heros][][power]" /><br>
            <label for="member2_bio">Hero's Biography: </label><br>
            <input id="member2_bio" type="text" name="team[heros][][bio]" /><br><br>

            <label for="member3_name">Hero's Name: </label><br>
            <input id="member3_name" type="text" name="team[heros][][name]" /><br>
            <label for="member3_power">Hero's Power: </label><br>
            <input id="member3_power" type="text" name="team[heros][][power]" /><br>
            <label for="member3_bio">Hero's Biography: </label><br>
            <input id="member3_bio" type="text" name="team[heros][][bio]" /><br><br>
            <button id="submit" type="submit">Submit</button>
      </form>
  </body>
</html>
